.wrapper{
	width: 998px;
}
header{
	height: 440px;
	border-top: 12px solid #33333b;
}
header .wrapper{
	background: url("../images/header.png");
}
#main{
	padding-bottom: 264px;
}
footer{
	height: 264px;
}
.catwill-logo{
	width: 263px;
	height: 97px;
	background-image: url("../images/catwill-logo-retina.png");
	background-position: 15px 3px;
	background-size: 229px 79px;
	border-radius: 0 0 18px 18px;
}
.top-social{
	margin: 47px 60px 0 0;
}
.top-social a{
	width: 58px;
	height: 58px;
	margin-left: 40px;
	background-size: 232px 58px;
}
.top-social .facebook{
	background-position: -58px 0;
}
.top-social .mail{
	background-position: -116px 0;
}
.top-social .vk{
	background-position: -174px 0;
}
.tease{
	display: none;
}
.full{
	display: block;
}
.ss-holder{
	padding: 85px 0 0 65px;
	width: 394px;
}
.scary-stories{
	padding: 0 0 10px 97px;
	background-position: 0 7px;
	background-size: 88px 88px;
	font-size: 44px;
	line-height: 48px;
}
.download{
	margin: 40px 0 0 60px;
}
.all-screens{
	position: absolute;
	left: -14px;
	top: -71px;
	width: 145px;
	height: 50px;
	background: url("../images/all-screens-retina.png") no-repeat;
	background-size: 100% 100%;
}
.carousels{
	position: absolute;
	left: 330px;
	top: -293px;
	width: 668px;
	height: 729px;
	pointer-events: none;
}