/*header*/

/*main content*/
.features{
	position: relative;
	margin-top: 173px;
	overflow: hidden;
	padding-bottom: 82px;
}
.features:after{
	content: "";
	position: absolute;
	width: 998px;
	height: 24px;
	bottom: 0;
	left: 0;
	background: url("../images/delimiter.png") no-repeat;
}
.features div{
	float: left;
	width: 20%;
	text-align: center;
}
.features div:before{
	content: "";
	display: inline-block;
	width: 68px;
	height: 54px;
	background: url("../images/features-icons-retina.png") no-repeat;
	background-size: 340px 54px;
}
.features .likes:before{
	background-position: -68px 0;
}
.features .choise:before{
	background-position: -136px 0;
}
.features .huge:before{
	background-position: -204px 0;
}
.features .easy:before{
	background-position: -272px 0;
}
.features .title{
	font-size: 30px;
	line-height: 28px;
	margin: 10px 0;
}
.info{
	padding: 0 5px 33px;
}
h1{
	font-size: 44px;
	color: #a67a08;
	text-align: center;
	margin: 14px 0;
}
.info p{
	margin-bottom: 33px;
	font-size: 20px;
	line-height: 31px;
	text-indent: 40px;
	text-align: justify;
}
/*footer*/
.contact{
	font-size: 23px;
	margin: 56px 0 0 67px;
	float: left;
	width: 268px;
}
.contact p{
	color: #7f7f87;
	margin: 0 0 17px 23px;
	line-height: 34px;
}
.contact div{
	color: #949498;
	background: #33333b;
	text-shadow: 0 1px 0 black;
	text-align: center;
	border-radius: 8px;
	padding: 12px 0;
	font-size: 21px;
}
.share{
	float: right;
	margin: 128px 50px 0 0;
}
.float-left {
	float:left;
	padding:2px;
}
.share .vk{
	margin-top: 7px;
}
.share .fb{
	margin-top: 1px;
}
.share .g-plus{
	margin-top: 2px;
}