/*reset*/
p{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
a, button{
	-webkit-tap-highlight-color: transparent;
}
button{
	cursor: pointer;
	outline: none;
}
b, strong{
	font-weight: normal;
}
/*main*/
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
#container{
	position: relative;
	min-height: 100%;
	min-width: 998px;
	color: #525051;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}
.title{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}
.heavy{
	font-weight: 700;
}
.wrapper{
	position: relative;
	width: 998px;
	margin: 0 auto;
}
.margin-fix{
	padding-top: 1px;
}
header{
	height: 440px;
	border-top: 12px solid #33333b;
	box-shadow: inset 0 -4px 5px rgba(0, 1, 2, 0.65);
	background: url("../images/dust.jpg");
}
header .wrapper{
	height: 440px;
	background: url("../images/header.png");
}
#main{
	padding-bottom: 264px;
	background: url("../images/wall.jpg");
}
footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 264px;
	background: black;
	background: url("../images/dust.jpg");
}

.splitter{
	overflow: hidden;
	text-align: center;
}
.splitter-text{
	position: relative;
	display: inline-block;
}
.splitter-text:before,
.splitter-text:after{
	content: "";
	position: absolute;
	width: 200px;
	top: 48%;
	border-top: 1px solid #36383e;
	border-bottom: 1px solid #525152;
}
.splitter-text:before{
	right: 100%;
	margin-right: 5px;
}
.splitter-text:after{
	left: 100%;
	margin-left: 5px;
}
/*header*/
.catwill-logo{
	float: left;
	width: 263px;
	height: 97px;
	background: #33333b url("../images/catwill-logo-retina.png") 15px 3px no-repeat;
	background-size: 229px 79px;
	border-radius: 0 0 18px 18px;
	text-indent: -9999px;
}
.top-social{
	float: right;
	margin: 47px 60px 0 0;
}
.top-social a{
	display: block;
	float: left;
	width: 58px;
	height: 58px;
	margin-left: 40px;
	background: #33333b url("../images/social-retina.png") no-repeat;
	background-size: 232px 58px;
	box-shadow: 0 3px 0 rgba(4, 7, 11, 0.12);
	border-radius: 50%;
}
.top-social .facebook{
	background-position: -58px 0;
}
.top-social .mail{
	background-position: -116px 0;
}
.top-social .vk{
	background-position: -174px 0;
}
.top-social a:active{
	opacity: 0.3;
}
.ss-holder{
	clear: both;
	float: left;
	padding: 85px 0 0 65px;
	width: 394px;
}
.scary-stories{
	padding: 0 0 10px 97px;
	background: url("../images/ss-logo-retina.png") 0px 7px  no-repeat;
	background-size: 88px 88px;
	font-size: 44px;
	line-height: 48px;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.75);
	color: #d0a22b;
}
.ss-holder .splitter{
	font-size: 17px;
}
.tease{
	color: #bcbaab;
	margin-top: 14px;
}
/*main content*/
.download{
	width: 236px;
	margin: 40px 0 0 60px;
}
.download p{
	text-align: center;
	line-height: 30px;
	color: #85837d;
}
.app-store-dl{
	position: relative;
	display: block;
	height: 73px;
	background: url("../images/app-store-dl-retina.png") no-repeat;
	background-size: 100% 400%;
}
.full:active{
	background-position: 0 -73px;
}
.lite{
	background-position: 0 -146px;
}
.lite:active{
	background-position: 0 -219px;
}
.download .splitter{
	margin-top: 20px;
}
.download .splitter-text{
	width: 37px;
	height: 18px;
	background: url("../images/or-retina.png") no-repeat;
	background-size: 100% 100%;
}
.download .splitter-text:before,
.download .splitter-text:after{
	top: 7px;
	border-top-color: #d7d7d7;
	border-bottom-color: #fafafa;
}
.all-screens{
	position: absolute;
	left: -14px;
	top: -71px;
	width: 145px;
	height: 50px;
	background: url("../images/all-screens-retina.png") no-repeat;
	background-size: 100% 100%;
}
.features{
	position: relative;
	margin-top: 173px;
	overflow: hidden;
	padding-bottom: 82px;
}
.features:after{
	content: "";
	position: absolute;
	width: 998px;
	height: 24px;
	bottom: 0;
	left: 0;
	background: url("../images/delimiter.png") no-repeat;
}
.features div{
	float: left;
	width: 20%;
	text-align: center;
}
.features div:before{
	content: "";
	display: inline-block;
	width: 68px;
	height: 54px;
	background: url("../images/features-icons-retina.png") no-repeat;
	background-size: 340px 54px;
}
.features .likes:before{
	background-position: -68px 0;
}
.features .choise:before{
	background-position: -136px 0;
}
.features .huge:before{
	background-position: -204px 0;
}
.features .easy:before{
	background-position: -272px 0;
}
.features .title{
	font-size: 30px;
	line-height: 28px;
	margin: 10px 0;
}
.info{
	padding: 0 5px 33px;
}
h1{
	font-size: 44px;
	color: #9a7920;
	text-align: center;
	margin: 14px 0;
}
.info p{
	margin-bottom: 33px;
	font-size: 20px;
	line-height: 31px;
	text-indent: 40px;
	text-align: justify;
}
/*footer*/
.contact{
	font-size: 23px;
	margin: 56px 0 0 67px;
	float: left;
	width: 268px;
}
.contact p{
	color: #7f7f87;
	margin: 0 0 17px 23px;
	line-height: 34px;
}
.contact div{
	color: #949498;
	background: #33333b;
	text-shadow: 0 1px 0 black;
	text-align: center;
	border-radius: 8px;
	padding: 12px 0;
	font-size: 21px;
}
.share{
	float: right;
	margin: 128px 50px 0 0;
}
.float-left {
	float:left;
	padding:2px;
}
.share .vk{
	margin-top: 7px;
}
.share .fb{
	margin-top: 1px;
}
.share .g-plus{
	margin-top: 2px;
}